{% extends 'admin_panel/base.html' %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/settings.css' %}">
{% endblock %}
{% block title %}Settings - Marikina LegisHub{% endblock %}

{% block top_header_content %}

            <div class="header-title">System Configuration v.1.0</div>
                <div class="header-actions">
                    <i class="fa-regular fa-circle-question"></i>
                <div class="profile">
                    <i class="fa-regular fa-circle-user"></i> {{ request.user.username }}
                </div>
            </div>
{% endblock %} {% block content %}
<div class="breadcrumb">Settings / <span>General Info</span></div>

            
            <div class="settings-container">
                <div class="settings-nav">
                    <a href="{% url 'general_info' %}" class="settings-nav-item">
                        <i class="fa-solid fa-building"></i> General Info
                    </a>
                    <a href="{% url 'backup_cloud' %}" class="settings-nav-item">
                        <i class="fa-solid fa-cloud-arrow-up"></i> Backup & Cloud
                    </a>
                    <a href="{% url 'metadata_tags' %}" class="settings-nav-item">
                        <i class="fa-solid fa-tags"></i> Metadata Tags
                    </a>
                    <a href="{% url 'security_policy' %}" class="settings-nav-item">
                        <i class="fa-solid fa-shield-halved"></i> Security Policy
                    </a>
                    <a href="{% url 'notifications' %}" class="settings-nav-item active">
                        <i class="fa-solid fa-bell"></i> Notifications
                    </a>
                </div>

                <div class="settings-card">
                    <h4>Notification Preferences</h4>


                   


                  
                </div> 
            </div> 
        </div> 
{% endblock %}