{% load static %}
<nav class="sidebar">
    <div class="sidebar-logo">
        <img src="{% static 'images/legishub-logo-light.png' %}">
        <h2>MARIKINA LEGISHUB</h2>
    </div>

    <ul class="nav-links">
        <li>
            <a href="{% url 'dashboard' %}" class="{% if request.path == '/' %}active{% endif %}">
                <i class="fa-solid fa-table-cells-large"></i> Dashboard
            </a>
        </li>

        <li>
            <a href="{% url 'documents' %}" class="{% if 'documents' in request.path %}active{% endif %}">
                <i class="fa-regular fa-file-lines"></i> Documents
            </a>
        </li>

        <li><a href="{% url 'archive' %}" class="{% if 'archive' in request.path %}active{% endif %}">
            <i class="fa-solid fa-box-archive"></i> Archive
        </a></li>
        <li><a href="{% url 'audit_logs' %}" class="{% if 'audit-logs' in request.path %}active{% endif %}">
            <i class="fa-solid fa-chart-line"></i> Audit Logs
        </a></li>
        <li><a href="{% url 'user_management' %}" class="{% if 'user-management' in request.path %}active{% endif %}">
            <i class="fa-solid fa-users"></i> User Management
        </a></li>
    </ul>
</nav>